<div class="container-fluid">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-8">
                <h6>We Accept</h6>
                <ul class="payment-method">
                    <li class="p1"><img src="../../../assets/images/Payment1.png"></li>
                    <li class="p2"><img src="../../../assets/images/Payment2.png"></li>
                    <li class="p3"><img src="../../../assets/images/Payment3.png"></li>
                    <li class="p4"><img src="../../../assets/images/Payment4.png"></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>100% Safe & Secure</h6>
                <img src="../../../assets/images/verisign-secured.png" style="width: 70px;">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footWrapper">
    <div class="footerInnerWrapper">
        <h6 style="font-size: 14px;">
            Connect With Us
        </h6>
        <div class="left">
            <span>
                <a href="https://www.facebook.com/KalanjiamHardwaresOnlineRetailStore/" target="_blank">
                    <img class="logo" src="../../../assets/images/fb.png" alt="">
                </a>
                <a href="https://twitter.com/onlinehardwares?lang=en" target="_blank">
                    <img class="logo" src="../../../assets/images/Twitter.png" alt="">
                </a>
                <!-- <a>
                                    <img class="logo" src="../../../assets/images/google+.png" alt="">
                                </a> -->
                <a href="https://www.justdial.com/Chennai/Kalanjiam-Hardwares-Park-Town/044PXX44-XX44-140826205050-F7X5_BZDET"
                    target="_blank">
                    <img class="logo" src="../../../assets/images/JustDial.png" alt="">
                </a>
            </span>
        </div>

        <div class="right">
            <h6 style="font-size: 14px;">
                Download App
            </h6>
            <span>
                <img class="download-icon" src="../../../assets/images/appStore.png" alt="" style="margin-right: 12px">
                <img class="download-icon" src="../../../assets/images/googlePlay.png">
            </span>
        </div>

    </div>