<h6 class="heading"> CONTACT US </h6>
<div class="container">
    <div class="card shadow mb-5 rounded">
        <agm-map [latitude]="latitude" [longitude]="longitude">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
        <div class="card-body">
            <div class="row details-row">
                <div class="col-4">
                    <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                    <img class="image" src="../../../assets/images/location.png" alt="location">
                    <div>
                        <p class="title"> VISIT US </p>
                        <p class="sub-title"> Kalanjiam, No 32 Devaraja Mudaly Street, Park Town, Chennai 600 003 Tamil
                            Nadu,
                            India. </p>
                    </div>
                </div>
                <div class="col-4">
                    <!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
                    <img class="image" src="../../../assets/images/phone-call.png" alt="phone">
                    <div>
                        <p class="title"> CALL US </p>
                        <div class="row">
                            <div class="col-6" style="padding-right: 0px">
                                <p class="helpline"> HelpLine </p>
                                <p class="sub-title1"> 044 25332526 </p>
                                <P class="sub-title1"> 044 25332527 </P>
                                <p class="sub-title1"> 044 25332540 </p>
                                <p class="sub-title1"> 044 25332541 </p>
                            </div>
                            <div class="col-6" style="padding-left: 0px;">
                                <p class="showroom"> Showroom </p>
                                <p class="sub-title1"> 044 25332530 </p>
                                <p class="sub-title1"> 044 25332531 </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <!-- <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
                    <img class="image" src="../../../assets/images/message.png" alt="mail">
                    <div>
                        <p class="title"> WRITE TO US </p>
                        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=info@kalanjiamhardwares.com&tf=1" target="_blank" class="sub-title"> info@kalanjiamhardwares.com </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>