.mat-dialog-content {
    padding: 16px;
}
.prod-image {
    width: 100%;
    height: 16vh;
}
.dialog-title{
    font-family: Opensans-semibold;
    color: #414141;
    font-size: 22px;
}
.prev-order{
    font-family: Opensans-regular;
    font-size: 15px;
    color: #4e4e4e;
}
.action-btn{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}