<h4 mat-dialog-title class="dialog-title"> Give Us a feedback on Purchase ! </h4>
<span style="color: gray;"> It helps us grow </span>

<div mat-dialog-content *ngFor="let productDetais of data?.orders" style="padding: 16px 0px;">
  <div class="row">
    <div class="col-4">
      <img class="prod-image" [src]="productDetais.image">
    </div>
    <div class="col-8">
      <p> {{productDetais.name}} - {{productDetais.model}}</p>
      <h6> {{productDetais.total}} </h6>
    </div>
  </div>
</div>
<div mat-dialog-actions class="action-btn">
  <button mat-button class="btn btn-danger col-md-5" (click)="onYesClick()"> Continue </button>
  <button mat-button  class="btn btn-dark col-md-5" style="margin-left:20px"  (click)="onNoClick()">No, Thanks</button>
  
</div>

<!-- 
<h4 mat-dialog-title class="dialog-title">Please leave your feedback for previous order </h4>
<div mat-dialog-content *ngFor="let productDetais of data.orders">
  <p class="prev-order"><span>Your previous order: </span> {{productDetais.name}}</p>
</div>
<div mat-dialog-actions class="action-btn">
  <button mat-button class="btn btn-success col-md-5" (click)="onYesClick()">Yes, Sure </button>
  <button mat-button  class="btn btn-danger col-md-5" style="margin-left:20px"  (click)="onNoClick()">No Thanks</button>
</div> -->