<div class="container" style="padding: 0px">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let item of bcData">
                <a (click)="toggle(item.cat.category_id)"
                    routerLinkActive="router-link-active">{{item.cat.name | titlecase}}</a></li>
                    <li class="breadcrumb-item" *ngIf="productName">
                        <a > {{productName}} </a>
                    </li>
        </ol>
    </nav>
</div>