.card {
    width: 18rem;
    margin: 16px;
    border: 1px solid whitesmoke;
}
.card:hover {
    color: #Ed2f2f;
}
.card-header {
    background: white;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
}
.card-header img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    transition: transform .5s ease;
}
.card-header img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.card-body {
    text-align: center;
}
/* 
.card:hover {
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */
/* .card-header:hover {
    border-bottom: 1px solid rgba(0,0,0,.125);
} */
.card-title {
    font-weight: 600;
}