<div class="image-padding">

<!--<div class="right-align close-icon">-->
<!--<a (click)="hideModal()"><svg xmlns="http://www.w3.org/2000/svg" width="16.261" height="16.257" viewBox="0 0 16.261 16.257">-->
<!--  <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close" d="M21.343,19.417l5.808-5.808a1.361,1.361,0,1,0-1.925-1.925l-5.808,5.808L13.61,11.685a1.361,1.361,0,1,0-1.925,1.925l5.808,5.808-5.808,5.808A1.361,1.361,0,1,0,13.61,27.15l5.808-5.808,5.808,5.808a1.361,1.361,0,1,0,1.925-1.925Z" transform="translate(-11.285 -11.289)" fill="#998c88"/>-->
<!--</svg>-->
<!--</a>-->
<!--</div>-->

<!--<img src="{{image}}">-->
<div class="image-hover">
  <div class="right-align close-icon tag">
    <a (click)="hideModal()" class="mouse-events"><svg xmlns="http://www.w3.org/2000/svg" width="16.261" height="16.257" viewBox="0 0 16.261 16.257">
      <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close" d="M21.343,19.417l5.808-5.808a1.361,1.361,0,1,0-1.925-1.925l-5.808,5.808L13.61,11.685a1.361,1.361,0,1,0-1.925,1.925l5.808,5.808-5.808,5.808A1.361,1.361,0,1,0,13.61,27.15l5.808-5.808,5.808,5.808a1.361,1.361,0,1,0,1.925-1.925Z" transform="translate(-11.285 -11.289)" fill="#998c88"/>
    </svg>
    </a>
  </div>
  <div class="imageSlides" *ngFor="let image of imageArray">

    <img class="mySlides w-100" src="{{image}}">
  </div>
  <div class="middle" *ngIf="imageArray.length > 1">
    <div class="text">
      <a class="icon-circle icon-padding padding-rgt display-left mouse-events" (click)="plusDivs(-1)" *ngIf="!hideLeft">
        <svg xmlns="http://www.w3.org/2000/svg" width="10.121" height="18.243" viewBox="0 0 11.121 23.243">
          <path id="Icon_feather-chevron-down" data-name="Icon feather-chevron-down" d="M15,7.5,7.5,0,0,7.5" transform="translate(1.5 17.121) rotate(-90)" fill="none" stroke="#998c88" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        </svg>
      </a>
      <a class="icon-circle icon-padding display-right mouse-events" (click)="plusDivs(1)" *ngIf="!hideRight">
        <svg xmlns="http://www.w3.org/2000/svg" width="10.121" height="18.243" viewBox="0 0 11.121 23.243">
          <path id="Icon_feather-chevron-down" data-name="Icon feather-chevron-down" d="M15,0,7.5,7.5,0,0" transform="translate(2.121 17.121) rotate(-90)" fill="none" stroke="#998c88" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        </svg>
      </a>
    </div>
  </div>
</div>
</div>
