/* Header for items */
.logo {
    display: flex;
}
.navbar-brand {
    padding: 0px;
    margin: 0px;
}
.navbar-brand .brand-name {
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 12px;
    left: 108px;
    color: black;
}
.navbar-brand .brand-tag{
    position: absolute;
    top: 32px;
    left: 108px;
    font-size: 10px;
    color: black;
}
.cart-nav .navbar-center {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translatex(-50%);
}
.nav-link {
    padding: 0px 8px;
    font-size: 0.7rem;
    font-weight: bold;
}
.shopping-cart, .truck {
    border: 2px solid #Ed2f2f;
    font-size: 22px;
    border-radius: 50%;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    background: #Ed2f2f;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.inr {
    border: 2px solid #Ed2f2f;
    padding: 4px;
    font-size: 22px;
    border-radius: 50%;
    color: #Ed2f2f;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.file-text{
    font-size: 30px;
    margin-left: 12px;
    color: #605F5F;
    width: 40px;
    height: 40px;
}
.fa-exclamation-circle{
    color: #Ed2f2f;
    font-size: 50px;
}
/* Container */
.failed-wrap .card {
    width: 500px;
    display: inline-block;
}
.failed-wrap .card-body {
    text-align: center;
}
.failed-wrap{
    text-align: center;
    font-family: Opensans-Regular;
}
.cart-nav li{
    text-align: center;
}
.card-body {
    padding: 60px;
}