<nav class="navbar container-fluid navbar-expand-lg navbar-fixed-top navbar-light elevation">
    <div class="container">
    <a class="navbar-brand" href="#">
        <img class="logo" src="../../assets/images/kalanjiam_logo3.png" alt="kalanjiam logo">
    </a>
    <div class="cart-nav">
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item">
                <div class="shopping-cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <a
                class="nav-link"
                [routerLink]="['/cart', 'items']"
                routerLinkActive="router-link-active"
              > Cart </a>
            </li>
            <div style="margin-top: 4px;"> ------ </div>
            <li class="nav-item">
                <div class="truck">
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <a
            class="nav-link"
            [routerLink]="['/cart', 'delivery']"
            routerLinkActive="router-link-active"
          > Delivery </a>
            </li>
            <div style="margin-top: 4px;"> ------ </div>
            <li class="nav-item">
            <div class="inr" style="padding-top: 3px;">
                <i class="fa fa-inr" aria-hidden="true"></i>
            </div>
                <a class="nav-link"> Payment </a>
            </li>
            <div style="margin-top: 4px;"> ------ </div>
            <li class="nav-item">
                <div class="file-text">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
                <a class="nav-link"> Order </a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container p-40 failed-wrap">
    <div class="card elevation-ful">
        <div class="card-body">
            <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
            <h4> OOPS </h4>
            <p> Your order has been failed !! </p>
            <p>Please retry again</p>
            <button class="btn btn-danger" [routerLink]="[ '/cart', 'items']"> RETRY </button>
        </div>
    </div>
</div>

<app-cart-footer></app-cart-footer>