<!-- Nav bar -->
<div>
    <nav class="wrapperone navbar navbar-expand-md navbar-light elevation">
        <ul class="navbar-nav container">
            <li class="nav-items">
                <div class="pf-col sm-2 md-2">
                    <div class="kl1">
                        <a href="/"> <img src="../../../assets/images/kalanjiam_logo3.png" alt="kalanjiam logo"
                                class="logo"></a>
                    </div>
                </div>
            </li>
            <li>
                <ul class="menu-ul">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-icon customMegaMenu" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            onmouseover="document.getElementById('megaMenu').style.display = 'block'">
                            Categories
                            <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                        </a>
                        <div class="dropdown-menu mega-menu customMegaMenuItems" id="megaMenu"
                            aria-labelledby="navbarDropdown">
                            <div class="row">
                                <div class="col-md-2" style="background: #F8F8F8;">
                                    <div class="categories" *ngIf="catFilter.getRootCategories()">
                                        <div class="col" id="catName"
                                            *ngFor="let cat of catFilter.getRootCategories(); let i = index"
                                            [class.active]="i == 0">
                                            <a [routerLink]="['/category',cat.category_id, slug(cat.name)]"
                                                (click)="onClickCategory(cat.category_id)"
                                                [ngClass]="{'on-cat-hover' : isCategorySelected(cat.category_id)}"
                                                style="font-family: Opensans-semibold; font-size: 14px;"
                                                (mouseenter)="onHover($event,'enter',cat.category_id)"
                                                (mouseleave)="resetHover($event)"> {{cat.name}} </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 tree" style="overflow: auto;">
                                    <app-sub-category-tree class="tree" [id]="menu_selectedCatId"
                                        (itemHover)="onItemHover($event)" (onCatClicked)="catClicked($event)">
                                    </app-sub-category-tree>
                                </div>
                                <div class="col-md-2">
                                    <img [src]="categoryImage" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/brands">Brands</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-icon" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            onmouseover="document.getElementById('services').style.display = 'block'"> Our Services
                        </a>
                        <div class="dropdown-menu service-dropdown" id="services" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" (click)="loadServices(utility.link, utility.title)"
                                [innerHTML]="utility.title"
                                *ngFor="let utility of infoData; let i = index"></a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- <div class="KLWrapperTwo">
                    <div class="nav-item">
                            <input class="form-control search-input" [(ngModel)]="selectedProductName" [ngModelOptions]="{standalone: true}" [typeahead]="products"
                            typeaheadOptionField="name" (typeaheadOnSelect)="onSelectProduct($event)" type="text" placeholder="Search...">
                             <i class="fa fa-search" aria-hidden="true"></i>
                            <input class="form-control search-input" type="text" [(ngModel)]= "selectedProductName">
                            <button class="btn" (click)="loadProducts()"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </div>
                    <div class="products-dropdown" *ngIf="products">
                            <p *ngFor="let prod of products; let i = index" >
                                <a [routerLink]="['/products', prod.product_id]"> {{prod?.name}} </a>
                            </p>
                        </div>
            </div> -->
            <li>
                <div class="KLWrapperThree">
                    <!-- <li class="nav-item"> -->
                    <!--      <form class="form-inline"> -->
                    <!-- <div class="searchbar"> -->
                    <!-- </div> -->
                    <!-- </form> -->
                    <!-- </li> -->
            <li class="right-icons nav-item">
                <span class="nav-item">
                    <span class="mr-4">
                        <!-- <i class="fa fa-search fa_custom" aria-hidden="true"
                                (click)="showSearchBar()" tooltip="Search products" placement="bottom"></i>  -->
                        <img class="headerIcon" src="../../../assets/images/search.png" (click)="showSearchBar()" alt=""
                            tooltip="Search products" placement="bottom"></span>
                    <span class="mr-4" style="position:relative" *ngIf="!currentUser">
                        <!--<i class="fa fa-truck fa_custom fa-2x"></i>-->
                        <img class="headerIcon" src="../../../assets/images/truckKalanjiam.png"
                            (click)="openLoginModal()" alt="" tooltip="Track orders" placement="bottom">
                    </span>
                    <span class="mr-4" style="position:relative" *ngIf="currentUser">
                        <!--<i class="fa fa-truck fa_custom fa-2x"></i>-->
                        <img class="headerIcon" src="../../../assets/images/truckKalanjiam.png"
                            [routerLink]="['/account', 'orders']" alt="" tooltip="My orders" placement="top">
                        <span *ngIf="pendingOrderStatus?.length>0 && currentUser" class="pendingOrderCount">
                            {{pendingOrderStatus.length}}</span>
                    </span>
                    <!-- Button trigger modal -->
                    <!-- <button *ngIf="!currentUser" style="margin:-8px 9px -6px -12px;"
                            type="button" class="btn" (click)="openLoginModal()">
                            <img class="headerIcon" src="../../../assets/images/profileKalanjiam.png" alt="" tooltip="View Profile" placement="bottom">
                        </button> -->
                    <div class="heartParent">
                        <span *ngIf="!currentUser" class="heart mr-4">
                            <!--<i class="fa fa-heart-o fa_custom fa-2x"  [routerLink]="[cart/profile',{outlets:{sidemenu:'wishlist']" aria-hidden="true"></i>-->
                            <img class="headerIcon" src="../../../assets/images/heartKalanjiam.png"
                                (click)="openLoginModal()" aria-hidden="true" tooltip="Wishlist"
                                placement="bottom" alt="">
                        </span>
                        <span *ngIf="currentUser" class="heart mr-4">
                            <!--<i class="fa fa-heart-o fa_custom fa-2x"  [routerLink]="['/account', 'wishlist']" aria-hidden="true"></i>-->
                            <img class="headerIcon" src="../../../assets/images/heartKalanjiam.png"
                                [routerLink]="['/account', 'wishlist']" aria-hidden="true" tooltip="Wishlist"
                                placement="bottom" alt="">
                        </span>
                        <span *ngIf="currentUser" class="wishlistCount">{{ wishListcount }}</span>
                    </div>
                    <span class="cart" [routerLink]="['/cart', 'items']">
                        <!--<i class="fa fa-shopping-cart fa_custom fa-2x" aria-hidden="true"></i>-->
                        <img class="headerIcon" src="../../../assets/images/cartKalanjiam.png" aria-hidden="true"
                            tooltip="Cart" placement="bottom" alt="">
                        <span class="cartCount">{{ addToCartCount }}</span>
                        <div *ngIf="showtoast" class="card toaster">
                            <div class="toastHeader" style="padding: 8px 16px 0px 16px;">
                                <h6>Item Added To Cart</h6>
                                <i class="fa fa-times" aria-hidden="true" (click)="closeToast()"></i>
                            </div>
                            <a class="toastBody">
                                <img class="cartimage" [src]="productImage" alt="">
                                <p>{{cartItems?.name}} has been added to cart</p>
                            </a>

                        </div>
                    </span>
                    <!-- <div class="dropdown customDropDown" *ngIf="currentUser">
                            <button class="btn" style="background: white;" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span *ngIf="!isSocialUser"> Hi {{appAccessService.currentUserDetails?.firstname}} <i class="fa fa-caret-down" aria-hidden="true"></i> </span>
                                <span *ngIf="isSocialUser"> Hi {{appAccessService.currentUserDetails?.name}} <i class="fa fa-caret-down" aria-hidden="true"></i> </span>
                            </button>
                            <div class="dropdown-menu customDropDownItem" aria-labelledby="dropdownMenuButton"
                                *ngIf="currentUser">
                                <a class="dropdown-item" routerLink='/profile'>My Profile</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/account', 'wishlist']">Wishlist</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/account', 'wallet']">Wallet</a>
                                <a class="dropdown-item" (click)="logoutCurr()">Logout</a>
                            </div>
                        </div> -->
                </span>
            </li>
</div>
</li>
</ul>
</nav>

<div class="newSearchBar container" *ngIf="isSearchBar">
    <div class="searchBarWrapper">
        <!-- <input class="search-input form-control" [(ngModel)]="selectedProductName"
                [ngModelOptions]="{standalone: true}" [typeahead]="products" typeaheadOptionField="name"
                (typeaheadOnSelect)="onSelectProduct($event)" type="text" placeholder="Search...">
            <i class="remove-searchbar fa fa-times" (click)="removeSearchBar()"></i> -->
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" autofocus aria-label="Search" matInput
                    (keydown.enter)="onKeydown($event)" [matAutocomplete]="auto" [formControl]="myControl">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of products" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <a  (click)="removeSearchBar()"> <i class="remove-searchbar fa fa-times"></i> </a>

        <!-- <input class="search-input form-control" autofocus  type="text" (keydown.enter)="onKeydown($event)" (keyup)="loadProducts()" [(ngModel)]= "selectedProductName">
            <button class="btn btn-danger" (click)="loadProducts()"> Search </button>
            <i class="remove-searchbar fa fa-times" (click)="removeSearchBar()"></i> -->
    </div>
    <!-- <div class="products-dropdown" *ngIf="products">
            <p *ngFor="let prod of products; let i = index" >
                <a (click)="onSelectProduct()"> {{prod?.product_name}} </a>
            </p>
        </div> -->
</div>
</div>

