.serviceWrapper {
    padding: 32px;
}
.serviceWrapper h3{
    text-align: center;
}

.subheader{
    text-align: center;
    padding-bottom: 16px;
}
.description{
    /*text-align: center;*/
    list-style-position: inside;
}
.description ul{
    color: #707070;
}

.service-descp {
    margin-top: 20px;
    border: none;
}

img {
  width: 100%;  
  object-fit: cover;
  background-size: cover;
  max-height: 300px;
  max-width: 1400px;
}