.checkout-row {
  text-align: left;
}
.checkout {
  display: inline-block;
  margin: 0;
  padding: 14px 1em;
  font-family: Raleway,sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.4px;
  height: auto;
  border-radius: 2px;
}
.cart-button {
  border: 1px solid #dae6ff;
  background: #dae6ff;
  color: #414141;
}
.cart-button:hover {
  border: 1px solid black;
  background: black;
  color: #FFFFFF;
}
.sold-out {
  border: black;
  background: black;
  color: #FFFFFF;
  margin: 10px 0;
}
.sold-out:hover {
  border: 1px solid #dae6ff;
  background: #dae6ff;
  color: #414141;
  margin: 10px 0;
}

.mat-column-Product {
  width: 25%;
}
.mat-column-SKU {
  width: 9%;
}
.mat-column-Price {
  width: 10%;
}
.mat-column-Quantity {
  width: 12%;
}
.mat-column-Tracking-Code {
  width: 25%;
}
.mat-column-Total {
  width: 10%;
  text-align: right;
}
table {
  width: 100%;
}
.mat-header-cell {
  background: #F8F7F7;
  font-size: 15px;
  color: #414141;
}
.mat-row{
  background: #FFFFFF;
  font-size: 15px;
  color: #414141;
}
.mat-cell:last-child {
  border-bottom: 1px solid #d5cec8;
}
.mat-row .checkout-row {
  display: none;
}
.mat-row:hover .checkout-row {
  display: block;
}
.total-hide {
  color: #988c88;
  text-decoration: line-through;
}
.comments-sec {
  margin-top: 35px;
  margin-bottom: 8px;
}
.sub-total {
  color: #212121;
  font-size: 15px;
}
.cart-bottom {
  width: 35%;
  line-height: 2.5;
  margin-bottom: 20px;
  border: 1px solid #d5cec8;
  padding: 15px;
}
.total-padding {
  padding-right: 0;
}
.order-history-label {
  padding-bottom: 15px;
  padding-top: 40px;
}
.mat-column-Date {
  padding-left: 0 !important;
}
.comment-box {
  border: 1px solid #D5CEC8;
  padding: 15px;
}
.payment-address {
  border: 1px solid #D5CEC8;
  padding: 15px;
  line-height: 25px;
  margin: 25px 0 0 0;
}
.sub-total-change {
  padding-left: 24px;
}
.textAlignRight {
  padding-right: 24px;
}
