.link-spacing {
  margin-bottom: 10px;
}
.message-border {
  border-color: #D5CEC8;
}
.form-space {
  padding-top: 30px;
}
.checkout {
  display: inline-block;
  margin: 0;
  padding: 14px 3em;
  font-family: Raleway,sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  height: auto;
  border-radius: 2px;
}
.cart-button {
  border: 1px solid #dae6ff;
  background: #dae6ff;
  color: #414141;
}
.cart-button:hover {
  border: 1px solid black;
  background: black;
  color: #FFFFFF;
}
h5 {
  line-height: 40px !important;
}
