<div *ngIf="serviceName !== 'Contact-Us'">
  <div class="detail-padding footer-padding common-color">
    <div class="login-box-heading">
<!--      <h1 class="head-font">{{infoDetails?.title}}</h1>-->
    </div>

    <div>
      <div [innerHTML]="infoDetails?.description"></div>
    </div>
  </div>
</div>


<div *ngIf="serviceName === 'Contact-Us'">
  <div class="detail-padding footer-padding common-color">
    <div class="login-box-heading">
            <h1 class="head-font">Contact Us</h1>
    </div>

    <div>

      <span>
        We’re always ready to help! Call us at <span class="link-color"> {{storeDetails.store_telephone}} </span> or send us an email <br>
        at <a href="mailto:{{storeDetails.store_email}}" class="link-color"> {{storeDetails.store_email}} </a>
        <br>
        <br>
        Just fill out the form below, and we will get back to you as soon as possible.
      </span>

        <div class="form-space">
        <form novalidate [formGroup]="contactForm" (ngSubmit)="contactSubmit()" class="login-box">
          <div class="w-50 botton-padding">
              <label class="label-name">Name</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="name" required>
              </mat-form-field>
              <label class="label-name">Email</label>
              <mat-form-field appearance="outline" class="w-100 parellel-field">
                <input type="email" matInput formControlName="email" required>
              </mat-form-field>
            <label class="label-name">Message</label>
            <textarea rows="6"  formControlName="message" class="message-border w-100" required="required"></textarea>
          </div>

          <div class="checkout cart-button display user-padding" (click)="contactSubmit()">
            Send
          </div>

        </form>
        </div>

    </div>
  </div>
</div>
