<div class="card clickable">
    <div class="row">
        <div class="col-6">
            <h6 class="discount-ribbon" *ngIf="(productItem.special > 0) && (productItem.special !== productItem.price)">
                <span class="discount-ribbon-content"> {{productItem.discountPercentile}} % OFF </span>
            </h6>
        </div>
        <div class="col-6">
            <h6 class="stock-ribbon" *ngIf="productItem.quantity < 5 && productItem.quantity > 0">
                <span class="stock-ribbon-content"> Only {{productItem.quantity}} left </span>
            </h6>
            <h6 class="stock-ribbon" *ngIf="productItem.quantity < 1">
                <span class="stock-ribbon-content"> SOLD OUT </span>
            </h6>
        </div>
    </div>
    <div class="card-header">
        <div>
            <img [src]="productItem.image" alt="product image" [ngStyle]="{'opacity' :  productItem.quantity < 1 ? 0.3 : 1}"
                [routerLink]="getLink(productItem.name, productItem.product_id)">
        </div>
        <button type="button" class="btn btn-light" (click)="addToCart()" *ngIf="productItem.quantity > 0"> Add
            to
            cart </button>
        <!-- <div class="row error-wrapper" *ngIf="co.isError">
            <alert type="danger">{{ co.addToCartError }} click on product to select </alert>
        </div> -->
        <button type="button" class="btn btn-dark notify-btn" *ngIf="productItem.quantity < 1"> NOTIFY ME </button>
    </div>
    <div class="card-body">
        <p class="card-title" [routerLink]="getLink(productItem.name, productItem.product_id)"> {{productItem.name}}
        </p>
        <div class="row brandNameRow" *ngIf="productItem.manufacturer">
            <div class=col *ngIf="productItem.manufacturer">
                <span class="vender-name" *ngIf="productItem.manufacturer"> By {{productItem.manufacturer}} </span>
            </div>
            <div class="icon-col">
                <i class="fa fa-heart-o" *ngIf="!productItem?.isWishList"
                    (click)="postWishListItem(productItem.product_id)" aria-hidden="true" tooltip="Add To Wishlist"
                    placement="top"></i>
                <i class="fa fa-heart" *ngIf="productItem?.isWishList"
                    (click)="postWishListItem(productItem.product_id)" aria-hidden="true" tooltip="Remove from Wishlist"
                    placement="top"></i>
            </div>
        </div>
        <div class="row" *ngIf="!productItem.manufacturer">
            <div class=col>
                <h5 class="red" *ngIf="(productItem.special > 0) && (productItem.special !== productItem.price)"> {{productItem.special_formated}} </h5>
                <h5 class="red" *ngIf="(productItem.special === 0 || productItem.special === productItem.price)"> {{productItem.price_formated}} </h5>
            </div>
            <div class="icon-col">
                <i class="fa fa-heart-o" *ngIf="!productItem?.isWishList"
                    (click)="postWishListItem(productItem.product_id)" aria-hidden="true" tooltip="Add To Wishlist"
                    placement="top"></i>
                <i class="fa fa-heart" *ngIf="productItem?.isWishList"
                    (click)="postWishListItem(productItem.product_id)" aria-hidden="true" tooltip="Remove from Wishlist"
                    placement="top"></i>
            </div>
        </div>
        <h5 class="red" *ngIf="(productItem.special > 0) && (productItem.special !== productItem.price) && productItem.manufacturer"> {{productItem.special_formated}}
        </h5>
        <h5 class="red" *ngIf="(productItem.special === 0 || productItem.special === productItem.price ) && productItem.manufacturer"> {{productItem.price_formated}}
        </h5>
        <p class="actual-price" *ngIf="(productItem.special > 0) && (productItem.special !== productItem.price)"> {{productItem.price_formated}} </p>
        <p class="info-text" *ngIf="(productItem.special > 0) && (productItem.special !== productItem.price)"> Save &#x20b9; {{productItem.discountPrice}}
            ({{productItem.discountPercentile}} % OFF)
        </p>
        <p class="info-text" *ngIf="getAttributeByName('Tags', 'CashBackOffer') as tag"> Cashback worth &#x20b9; {{tag.text}}
        </p>
        <p class="info-text" *ngFor="let attr of getAttributeByGroupName('Delivery date')?.attribute"> Limited time
            offer | Ships in {{attr.text}} Days </p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <span *ngIf="getAttributeByName('Tags', 'BestSeller') as tag">
                    <button type="button" class="btn btn-light btn-sm"
                        *ngIf="(tag.text !== null) && (tag.text !== undefined) && (tag.text !== '')"> {{tag?.text}}
                    </button>
                </span>
            </div>
            <div class="icon-col">
                <button type="button" class="btn btn-light btn-sm" *ngIf="productItem.reviews.review_total !== '0'">
                    {{productItem.reviews.review_total}} <i class="fa fa-star" aria-hidden="true"></i> </button>
            </div>
        </div>
    </div>
</div>