<div class="container">
    <div *ngIf="notifications.length > 0">
        <!-- <h6> You have {{notifications.length}} notifications </h6> -->
        <div class="card card-item" data-toggle="modal" data-target="#imageModelId"
            *ngFor="let notification of notifications; let i = index">
            <img class="card-img-top" [src]="notification.notification_banner" alt=""
                *ngIf="notification.notification_banner">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-title" [innerHTML]="notification.notification_title"></h6>
                    </div>
                    <div class="col-6" style="text-align: right">
                        <p class="date"> {{notification.notification_created_date}} </p>
                    </div>
                </div>
                <p [innerHTML]="decodeContent(notification.notification_content)"></p>
            </div>
        </div>
    </div>
    <div class="empty-notification" *ngIf="notifications.length === 0">
        <div class="empty-img"><img src="../../../../assets/images/notifications-empty.png"></div>
        <h5> No notifications </h5>
        <p style="text-align: center; font-size: 16px; margin-bottom: 10px;"> Expore and Order Some Items </p>
        <button class="btn btn-danger btn-lg" [routerLink]="[ '/']" style="font-size: 14px;"> START SHOPPING </button>
    </div>
</div>