h6 {
    font-size: 18px;
    font-family: Opensans-semibold;
}
.date {
    font-family: Opensans-regular;
    font-size: 14px;
    margin: 0px;
}
.container {
    margin-top: 16px;
}
/* span {
    font-size: 10px;
    color: gray;
}
.notify-wrapper {
    display: flex;
}
.texts-wrapper {
    display: inline;
}
.texts-wrapper p, h6 {
    margin: 0px;
} */
.card-item {
    margin-bottom: 16px;
    overflow: hidden;
}
.card-img-top {
    width: 100%;
    height: 240px !important;
    object-fit: contain;
    /* transition: transform .5s ease; */
}
/* .card-img-top:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
} */
.empty-notification {
    text-align: center;
    margin: 30px;
    font-family: Opensans-Semibold;
    color: #868686;
}
.fa-bell-o {
    font-size: 152px;
    color: #ED4646;
    margin-top: 40px;
    margin-bottom: 16px; 
}