<div class="footer-padding">
  <h5 class="contact-title">Contact Information</h5>
  <div>
    <div class="total-margin-left">
    <div  class="image-width display">
      <img src="assets/images/eb37eb8a6cb046a4476d0d6e4b662974.png">
    </div>
    <div class="display contact">
    <div>
      <span class="transformText">{{customerDetails.firstname}} {{customerDetails.lastname}} </span> <br/>
      <span>({{customerDetails.email}})</span>
    </div>
      <br>
    <a class="left-align mouse-events" (click)="userLogout()">logout</a>
    </div>
    </div>
    <h5 class="contact-title">Shipping Address</h5>
    <div class="address-design">
      <form novalidate [formGroup]="addressForm" class="login-box">

        <div class="w-100">
          <label class="label-name">Saved Address</label>
          <mat-form-field appearance="outline" class="w-100 delivery delivery-checkout">
            <select matNativeControl formControlName="savedAddress" (change)="getAddressListById(addressForm.value.savedAddress)">
              <option [value]="address.value" *ngFor="let address of fullAddressList">{{address.label}}</option>
            </select>
          </mat-form-field>
        </div>

<!--        <div class="form-group form-default m-b-10  address-width">-->
<!--          <ng-select [items]="fullAddressList" bindLabel="label" [searchable]="false"-->
<!--                     bindValue="value" #address [clearable]="false"-->
<!--                     [formControl]= "addressForm.controls['savedAddress']" (focus)="address.open()"-->
<!--                     placeholder="Saved Address" (change)="getAddressListById($event.value)"-->
<!--                     class="custom-select address delivery">-->
<!--          </ng-select>-->
<!--        </div>-->

        <div class="row col-md-12 row-space botton-padding">
          <div class="col-md-6 row-space">
        <label class="label-name">First Name*</label>
          <mat-form-field appearance="outline" class="w-100 delivery mat-bottom-remove" [ngClass]="validationCheck['firstname'] ? 'errorClass' : ''">
            <input matInput formControlName="firstname" (keydown)="checkValidationForm('firstname')">
          </mat-form-field>
            <span *ngIf="validationCheck['firstname']" class="password-check">Please enter first name </span>
          </div>

          <div class="col-md-6 row-space">
        <label class="label-name parellel-field">Last Name*</label>
          <mat-form-field appearance="outline" class="w-100 parellel-field delivery mat-bottom-remove" [ngClass]="validationCheck['lastname'] ? 'errorClass' : ''">
            <input matInput formControlName="lastname" (keydown)="checkValidationForm('lastname')">
          </mat-form-field>
            <span *ngIf="validationCheck['lastname']" class="password-check parellel-field">Please enter last name </span>
          </div>
        </div>

        <label class="label-name">Company</label>
          <mat-form-field appearance="outline" class="w-100 delivery mat-bottom-remove botton-padding">
            <input matInput formControlName="company">
          </mat-form-field>

        <div class="botton-padding">
        <label class="label-name">Address*</label>
          <mat-form-field appearance="outline" class="w-100 delivery mat-bottom-remove" [ngClass]="validationCheck['address'] ? 'errorClass' : ''">
            <input matInput formControlName="address" (keydown)="checkValidationForm('address')">
          </mat-form-field>
        <span *ngIf="validationCheck['address']" class="password-check">Please enter address </span>
        </div>

        <label class="label-name">Apartment, suite, etc (optional)</label>
          <mat-form-field appearance="outline" class="w-100 delivery mat-bottom-remove botton-padding">
            <input matInput formControlName="subAddress">
          </mat-form-field>

        <div class="botton-padding">
        <label class="label-name">City*</label>
          <mat-form-field appearance="outline" class="w-100 city-padding delivery mat-bottom-remove" [ngClass]="validationCheck['city'] ? 'errorClass' : ''">
            <input matInput formControlName="city" (keydown)="checkValidationForm('city')">
          </mat-form-field>
        <span *ngIf="validationCheck['city']" class="password-check">Please enter city </span>
        </div>


        <div class="row col-md-12 row-space botton-padding csz-control">
<!--          <div class="field-width display">-->
<!--          <label class="label-name">Country*</label>-->
<!--          <ng-select [items]="countriesList" name="projectCategoryId" bindLabel="label" [searchable]="false"-->
<!--                     bindValue="value" #country [clearable]="false" [ngClass]="validationCheck['country'] ? 'errorClass' : ''"-->
<!--                     [formControl]= "addressForm.controls['country']" (focus)="country.open()"-->
<!--                    (change)="onSelectCountry($event)"-->
<!--                     class="custom-select delivery country">-->
<!--          </ng-select>-->
<!--        </div>-->

          <div class="col-md-4 row-space">
            <label class="label-name">Country*</label>
            <mat-form-field appearance="outline" class="w-100 delivery mat-bottom-remove delivery-checkout" [ngClass]="validationCheck['country'] ? 'errorClass' : ''">
              <select matNativeControl formControlName="country" (change)="onSelectCountry(addressForm.value.country)">
                <option value=""></option>
                <option [value]="country.value" *ngFor="let country of countriesList">{{country.label}}</option>
              </select>
            </mat-form-field>
            <span *ngIf="validationCheck['country']" class="password-check">Please select country </span>
          </div>


          <div class="col-md-4 row-space">
            <label class="label-name parellel-field">State*</label>
            <mat-form-field appearance="outline"  class="w-100 delivery delivery-checkout parellel-field mat-bottom-remove" [ngClass]="validationCheck['state'] ? 'errorClass' : ''">
              <select matNativeControl formControlName="state" (change)="checkValidationForm('state')">
                <option value=""></option>
                <option [value]="state.value" *ngFor="let state of statesList">{{state.label}}</option>
              </select>
            </mat-form-field>
            <span *ngIf="validationCheck['state']" class="password-check parellel-field">Please select state </span>
          </div>


<!--        <div class="parellel-field display field-width">-->
<!--          <label class="label-name parellel-field">State*</label>-->
<!--          <ng-select [items]="statesList" bindLabel="label" [ngClass]="validationCheck['state'] ? 'errorClass' : ''"-->
<!--                     bindValue="value" #states [clearable]="false" [searchable]="false"-->
<!--                     [formControl]= "addressForm.controls['state']" (focus)="states.open()"-->
<!--                    (change)="checkValidationForm('state')"-->
<!--                     class="custom-select delivery state">-->
<!--          </ng-select>-->
<!--        </div>-->

          <div class="col-md-4 row-space">
          <label class="label-name parellel-field">Zip code*</label>
          <mat-form-field appearance="outline" class="parellel-field w-100 zip-pad-remove zip-code delivery mat-bottom-remove"
                          [ngClass]="validationCheck['pincode'] ? 'errorClass' : ''">
            <input matInput formControlName="pincode" (keydown)="checkValidationForm('pincode')">
          </mat-form-field>
            <span *ngIf="validationCheck['pincode']" class="password-check parellel-field">Please enter zip </span>
          </div>
        </div>

        <label class="label-name">Phone</label>
          <mat-form-field appearance="outline" class="w-100 delivery mat-bottom-remove botton-padding"
                          [ngClass]="validationCheck['phone'] ? 'errorClass' : ''">
            <input type="tel" ng2TelInput [ng2TelInputOptions]="cell1TelInput" matInput formControlName="phone"
                   (keydown)="checkValidationForm('phone')">
          </mat-form-field>

        <span *ngIf="validationCheck['phone']" class="password-check">Please enter valid phone number </span>
        <br>

      </form>
    </div>
    <div>
      <a class="return display update-left" [routerLink]="'/cart/items'">
        <i class="fa fa-angle-left"></i> Return to Cart
      </a>
      <div class="checkout-align display right-align">
        <div class="checkout cart-button" (click)="onSubmitValue()">
          Continue to Shipping
        </div>
      </div>
    </div>
  </div>
</div>
