
<div class="clear"></div>
<div class="page-footer cust-footer">
  <div class="footer-copyright" >
    <!--<ul class="footer-align">
      <li class="footer-menu">Search</li>
      <span class="separators">◦</span>
      <li class="footer-menu">About Us</li>
      <span class="separators">◦</span>
      <li class="footer-menu">Contact Us</li>
      <span class="separators">◦</span>
      <li class="footer-menu">Wholesale Application</li>
      <span class="separators">◦</span>
      <li class="footer-menu">Privacy Policy </li>
    </ul>-->

    <!--<div class="social">
          <a title="Facebook" class="social-links" target="_blank" href="https://www.facebook.com/lafashionseekers/">
            <i class="fa fa-facebook social-icon-fb"></i></a>

          <a title="Instagram" class="social-links" target="_blank" href="https://www.instagram.com/lafashionconcepts/">
            <i class="fa fa-instagram social-icon-insta"></i></a>
    </div>-->
    <div class="social ">
      <div class="copy">
        <span class="spacing"><i class="fa fa-copyright"></i> {{year}}</span>
        <a href="/" class="copy spacing">LA Fashion Concepts Marketplace.</a>
      </div>
    </div>

    <div class="right-align footer-color">
      <ul class="footer-align">
        <li class="footer-menu"><a class="link-color" href="/about/About Us/4">About Us</a></li>
       <span class="separators">|</span>
        <li class="footer-menu"><a class="link-color" href="/about/Contact-Us/1">Contact Us</a></li>
       <span class="separators">|</span>
        <li class="footer-menu"><a class="link-color" href="/about/Privacy Policy/3">Privacy Policy </a></li>
        <li class="footer-menu">
          <img class="amex-width" src="assets/images/icons8-american-express-48.png"></li>
        <li class="footer-menu">
          <img src="assets/images/icons8-credit-card-apple-pay-32.png"></li>
        <li class="footer-menu">
          <img class="g-pay-icon" src="assets/images/google-pay-gpay-logo.png"></li>
        <li class="footer-menu">
          <img class="mastercard" src="assets/images/icons8-mastercard-logo-48.png"></li>
        <li class="footer-menu">
          <img class="paypal" src="assets/images/icons8-paypal-48.png"></li>
        <li class="footer-menu">
          <img class="venmo" src="assets/images/venmo.png"></li>
        <li class="footer-menu">
          <img src="assets/images/visa.png" class="amex-width"></li>
     </ul>
    </div>
  </div>
</div>

