.card {
    margin-bottom: 16px !important;
}
.image-container {
	overflow: hidden;
	padding: 0px;
}
img {
    height: 90px !important;
    transition: transform .5s ease;
}
img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.product-title{
    font-size: 17px;
    color: #414141;
    font-weight: 600;
    padding-bottom: 5px;
}
mgl-timeline-entry-dot.primary {
    background: #EF4646;
}
span.bs-rating-star {
    font-size: 30px;
}
span > .bs-rating-star {
    font-size: 52px;
}
.card-header {
    background: white;
}
.modal-dialog {
    max-width: 800px !important;
}
.modal-body {
    font-size: 1em;
    padding: 2rem;
    width: 100%
}
.row {
    margin: 0px;
}
.action-buttons {
    text-align: right; 
    margin: 0px; 
    margin-top: 8px;
}
#trackModal .modal-body {
    background: whitesmoke;
    padding: 16px;
}
.timeline {
	max-width: 800px;
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
	.timeline:before {
		top: 2px;
		bottom: 15px;
		position: absolute;
		content: " ";
		width: 3px;
		background-color: #eeeeee;
		left: 50%;
		margin-left: -1.5px;
	}
		.arrowhead{
			width: 0;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -15px;
			
			border-top: 0 solid transparent;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #eeeeee;
		}
	.timeline > li {
		min-height: 150px;
		width: 50%;
		padding-left: 12px;
		padding-right: 12px;		
		margin-bottom: 30px;		
		position: relative;		
		float: left;
		clear: left;
	}

/*Panel*/
	.timeline > li > .timeline-panel {
		width: 92%;
		float: left;
		border: 1px solid #f5f5f5;
		/*border-radius: 2px;*/
		/*padding: 20px;*/
		position: relative;
		-webkit-box-shadow: 0 1px 6px 0px #e4e4e4;
		box-shadow: 0 1px 6px 0px #e4e4e4;
	}
		.timeline > li > .timeline-panel:before {
			position: absolute;
			top: 26px;
			right: -15px;
			display: inline-block;
			border-top: 15px solid transparent;
			border-left: 15px solid #e4e4e4;
			border-right: 0 solid #e4e4e4;
			border-bottom: 15px solid transparent;
			content: " ";
		}
		.timeline > li > .timeline-panel:after {
			position: absolute;
			top: 27px;
			right: -14px;
			display: inline-block;
			border-top: 14px solid transparent;
			border-left: 14px solid #fff;
			border-right: 0 solid #fff;
			border-bottom: 14px solid transparent;
			content: " ";		
		}

		.timeline-panel img {
			width: 100%;
			padding: 10px 10px 0 10px;
		}


/*Inverted panel*/
	.timeline > li:nth-child(even) > .timeline-panel {
		float: right;
	}
		.timeline > li:nth-child(even) > .timeline-panel:before {
			border-left-width: 0;
			border-right-width: 15px;
			left: -15px;
			right: auto;
		}
		.timeline > li:nth-child(even) > .timeline-panel:after {
			border-left-width: 0;
			border-right-width: 14px;
			left: -14px;
			right: auto;
		}

	.timeline > li:nth-child(even){
		float: right; 
		clear: right;
		margin-top: 0px;
		margin-bottom: 30px;
	}
		.timeline > li:nth-child(3) {
			margin-top: 90px;
		}

/*Badge*/
	.timeline > li > .timeline-badge {   
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1.2em;
		text-align: center;
		position: absolute;
		top: 16px;
		right: 5px;
		z-index: 100; 
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%; 
		cursor: default;
	}
		.timeline > li:nth-child(even) > .timeline-badge{
			left: 5px;
		}

	.timeline > li > .timeline-badge:before{
		position: absolute;
		top: 42%;
    	right: -20px;
		content: ' ';
		display: block;
		width: 12px;
		height: 12px;
		margin-top: -10px;
		background: #fff;
		border-radius: 50%;
    	border: 15px solid #EF4040;
		z-index: 10;
	}
		.timeline > li:nth-child(even) > .timeline-badge:before{
			left: -20px;
		}

        .timeline-title {
            margin-top: 0;
            padding: 10px 0px 0px 10px;
            color: inherit;
            font-size: 16px;
            margin-bottom: 0;
          }
          .timeline-body{
              padding: 10px;
              font-size: 12px;
          }
          .timeline-footer{
              background-color:#f4f4f4;
              padding: 5px 10px;
              text-align: center;		
          }
              .timeline-footer > div{
                  font-size: 12px;
                  text-align: left
              }
		.timeline > li:nth-child(even) > .timeline-badge img{
		height: 18px !important;
		left: -13px;
		z-index: 999;
		position: absolute;
		top: 17px;
	  }
	  .timeline > li > .timeline-badge img{
		height: 18px !important;
		left: 46px;
		z-index: 999;
		position: absolute;
		top: 17px;
	  }