<div class="container">

  <div class="row">
    <div class="col-md-4 text-right">
  <svg xmlns="http://www.w3.org/2000/svg" width="61.977" height="101.977" viewBox="0 0 41.977 41.977">
    <path id="Icon_material-error-outline" data-name="Icon material-error-outline" d="M21.89,30.285h4.2v4.2h-4.2Zm0-16.791h4.2V26.087h-4.2ZM23.968,3a20.989,20.989,0,1,0,21.01,20.989A20.978,20.978,0,0,0,23.968,3Zm.021,37.779A16.791,16.791,0,1,1,40.779,23.989,16.786,16.786,0,0,1,23.989,40.779Z" transform="translate(-3 -3)" fill="#ea4d42"/>
  </svg>
    </div>

  <div class="col-md-8 content">
  <h3> OOPS! Page Not Found </h3>
    <p>Unfortunately the page you are looking for has been moved or deleted</p>
    <button class="btn btn-danger" [routerLink]="['/']"> GO TO HOME PAGE </button>
  </div>
  </div>
</div>
