.container {
    text-align: center;
    margin-top: 150px !important;
    margin-bottom: 160px !important;
}
.fa-frown-o {
    font-size: 140px !important;
    color: #c60000;
}
.content {
  text-align: left;
}
/*h3 {*/
/*    font-family: Opensans-bold;*/
/*    margin-top: 16px !important;*/
/*}*/
/*p {*/
/*    font-family: Opensans-semibold;*/
/*    margin-bottom: 30px !important;*/
/*}*/
