
<div class="walletTotalOuterWrapper card" *ngIf="walletTotal" >
    <div class="row">
        <div class="card-body">
            <div class="walletTotalwrapper">
                <div *ngIf="walletTotal" class="walletBalance"> K-Wallet Balance: <span class="cost">{{walletTotal}}</span> </div>  
                <!--<div *ngIf="walletTotal === null"> Your K-Wallet Balance: 0 </div>   -->
            </div>         
        </div>
        <hr>
    </div>   
</div>
<div *ngIf="walletDetails?.Transaction">
    <div class="walletDescription">
        <div  class="walletDescriptionWrapper card" *ngFor="let walletDes of walletDetails?.Transaction">
            <div class="walletdescone"> 
                <p>{{walletDes.description}}</p> 
                <span class="cost">{{walletDes.amount}}</span>
            </div>
            <div class="walletdesctwo">
                <span>{{walletDes.date_added}}</span> | <span> Order Id: {{walletDes.order_id}}</span>
            </div>
        </div>
    </div>
</div>
