<div>
  <div class="detail-padding footer-padding common-color">
    <div class="login-box-heading">
      <h1 class="head-font" *ngIf="this.addressId">Update Address</h1>
      <h1 class="head-font" *ngIf="!this.addressId">Add a New Address</h1>
    </div>

<div class="address-design w-75">
  <form novalidate [formGroup]="addressForm" class="login-box">

    <div class="row col-md-12 row-space botton-padding">
      <div class="col-md-6 row-space display">
    <label class="label-name display-flex">First Name<span class="astrix-size">*</span></label>
    <mat-form-field appearance="outline" class="w-100 address-form mat-bottom-remove" [ngClass]="validationCheck['firstname'] ? 'errorClass' : ''">
      <input matInput formControlName="firstname" (keyup)="checkValidationForm('firstname', $event.target.value)">
    </mat-form-field>
        <span *ngIf="validationCheck['firstname']" class="password-check">Please enter first name </span>
      </div>

      <div class="col-md-6 row-space display">
    <label class="label-name parellel-field display-flex">Last Name<span class="astrix-size">*</span></label>
    <mat-form-field appearance="outline" class="w-100 parellel-field address-form mat-bottom-remove" [ngClass]="validationCheck['lastname'] ? 'errorClass' : ''">
      <input matInput formControlName="lastname" (keyup)="checkValidationForm('lastname', $event.target.value)">
    </mat-form-field>
        <span *ngIf="validationCheck['lastname']" class="password-check parellel-field">Please enter last name </span>
      </div>
    </div>

    <label class="label-name">Business Name</label>
    <mat-form-field appearance="outline" class="w-100 address-form mat-bottom-remove botton-padding">
      <input matInput formControlName="company">
    </mat-form-field>

    <div class="botton-padding">
    <label class="label-name display-flex">Address<span class="astrix-size">*</span></label>
    <mat-form-field appearance="outline" class="w-100 address-form mat-bottom-remove" [ngClass]="validationCheck['address'] ? 'errorClass' : ''">
      <input matInput formControlName="address" (keyup)="checkValidationForm('address', $event.target.value)">
    </mat-form-field>
    <span *ngIf="validationCheck['address']" class="password-check">Please enter address (Address must be between 3 to 128 characters!)</span>
    </div>

    <label class="label-name">Apartment, suite, etc (optional)</label>
    <mat-form-field appearance="outline" class="w-100 address-form mat-bottom-remove botton-padding">
      <input matInput formControlName="subAddress">
    </mat-form-field>

    <div class="botton-padding">
    <label class="label-name display-flex">City<span class="astrix-size">*</span></label>
    <mat-form-field appearance="outline" class="w-100 address-form mat-bottom-remove" [ngClass]="validationCheck['city'] ? 'errorClass' : ''">
      <input matInput formControlName="city" (keyup)="checkValidationForm('city', $event.target.value)">
    </mat-form-field>
    <span *ngIf="validationCheck['city']" class="password-check">Please enter city (City must be between 3 to 128 characters!)</span>
    </div>

    <div class="row col-md-12 row-space botton-padding csz-control">
<!--      <div class="field-width display">-->
<!--    <label class="label-name">Country*</label>-->
<!--    <div class="form-group form-default m-b-10 field-width display w-100">-->
<!--      <ng-select [items]="countriesList" name="projectCategoryId" bindLabel="label"-->
<!--                 bindValue="value" #country [searchable]="false" [ngClass]="validationCheck['country'] ? 'errorClass' : ''"-->
<!--                 [formControl]= "addressForm.controls['country']" (focus)="country.open()"-->
<!--                 (change)="onSelectCountry($event)"-->
<!--                 class="custom-select country">-->
<!--      </ng-select>-->
<!--    </div>-->
<!--      </div>-->

      <div class="display col-md-4 row-space">
        <label class="label-name display-flex">Country<span class="astrix-size">*</span></label>
        <mat-form-field appearance="outline" class="w-100 address-form mat-bottom-remove delivery-checkout" [ngClass]="validationCheck['country'] ? 'errorClass' : ''">
          <select matNativeControl formControlName="country" (change)="onSelectCountry(addressForm.value.country)">
            <option [value]="country.value" *ngFor="let country of countriesList">{{country.label}}</option>
          </select>
        </mat-form-field>
        <div *ngIf="validationCheck['country']" class="password-check">Please select country </div>
      </div>

      <div class="display col-md-4 row-space">
        <label class="label-name display-flex parellel-field">State<span class="astrix-size">*</span></label>
        <mat-form-field appearance="outline"  class="w-100 address-form mat-bottom-remove delivery-checkout parellel-field" [ngClass]="validationCheck['state'] ? 'errorClass' : ''">
          <select matNativeControl formControlName="state" (change)="checkValidationForm('state', $event.target.value)">
            <option [value]="state.value" *ngFor="let state of statesList">{{state.label}}</option>
          </select>
        </mat-form-field>
        <div *ngIf="validationCheck['state']" class="password-check parellel-field">Please select state </div>
      </div>

<!--      <div class="field-width display">-->
<!--    <label class="label-name parellel-field">State*</label>-->
<!--    <div class="form-group form-default m-b-10 field-width parellel-field display w-100">-->
<!--      <ng-select [items]="statesList" bindLabel="label" [ngClass]="validationCheck['state'] ? 'errorClass' : ''"-->
<!--                 bindValue="value" #states [searchable]="false" (change)="checkValidationForm('state')"-->
<!--                 [formControl]= "addressForm.controls['state']" (focus)="states.open()"-->
<!--                 class="custom-select state">-->
<!--      </ng-select>-->
<!--    </div>-->
<!--      </div>-->

      <div class="col-md-4 row-space display">
    <label class="label-name parellel-field display-flex">Zip code<span class="astrix-size">*</span></label>
    <mat-form-field appearance="outline" class="field-width parellel-field w-100 zip-code address-form mat-bottom-remove" [ngClass]="validationCheck['pincode'] ? 'errorClass' : ''">
      <input matInput formControlName="pincode" (keyup)="checkValidationForm('pincode', $event.target.value)">
    </mat-form-field>
        <div *ngIf="validationCheck['pincode']" class="password-check parellel-field">Please enter valid zipcode </div>
      </div>
    </div>

    <label class="label-name top-padding">Phone</label>
    <mat-form-field appearance="outline" class="w-100 phone address-form mat-bottom-remove" [ngClass]="validationCheck['phone'] ? 'errorClass' : ''">
      <input type="tel" matInput placeholder="Phone" formControlName="phone"
             ng2TelInput [ng2TelInputOptions]="cell1TelInput"
             (keyup)="checkValidationForm('phone', $event.target.value)" (countryChange)="onCell1CountryChange($event)">
      <span class="country-code">{{countryCode}}</span>
    </mat-form-field>

    <span *ngIf="validationCheck['phone']" class="password-check">Please enter phone number (Phone Number must be between 8 to 32 characters!)</span>
    <br>

      <mat-checkbox formControlName="defaultAddress">Set as default address</mat-checkbox>

    <div>
      <div class="checkout cart-button display user-padding" *ngIf="!addressId" (click)="saveAddress()">
        Add Address
      </div>
      <div class="checkout cart-button display user-padding" *ngIf="addressId" (click)="saveAddress()">
        Update Address
      </div>

      <a class="checkout cancel-button display" [routerLink]="'/account/address'">
        Cancel
      </a>
    </div>

  </form>
</div>
  </div>
</div>
