.item-display {
  width: 44%;
  display: inline-block;
  height: inherit;
  background: #fafafa;
  border-left: 1px solid #fafafa;
  float: right;
}
.checkout-all-height {
  height: 855px;
}
.delivery-all-height {
  height: 1400px;
}
.cart-menu {
  display: inline;
  list-style: none;
  margin: 0 8px 0 0;
  color: #737373;
}
.menu-align {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0;
  letter-spacing: 0.5px;
}
.left-design {
  /*text-align: center;*/
  width: 56%;
  margin-top: 80px;
}
.image {
  width: 100px;
  height: 100px;
}
.icon-color {
  color: #988c88;
}
a:active {
  color: #212121;
}
.router-link-active {
    color: #EF4040;
    background: white;
}
.fd-dis{
  display: unset  ;
}
.fd-mob{
  display: none;
}
@media (max-width:450px){
  .fd-dis{
    display: none;
  }
  .fd-mob{
    display: unset;
  }
  .left-design{
    width: 100%;
    margin-top: 20px;
  }

}
.footer-align {
  margin: 0 8pc;
  border-top: 1px solid #d5cec8;
  padding: 10px 0;
  color: #988;
  font-size: 13px;
}
