.heading {
    text-align: center;
    margin: 20px 0;
}
h5 {
    color: #ed4040;
}
.data {
    font-family: Opensans-regular;
    margin-bottom: 4px;
    font-size: 14px;
}
.address-popup {
    margin: 45px 45px 0px 45px;
}
.outerwrapper{
    display: flex;
    justify-content: space-between;
}
