<div class="container" *ngIf="!isEditMode">
    <h5> <i class="fa fa-user" aria-hidden="true" style="padding-right: 8px"></i> {{currentUser?.firstname}}
        {{currentUser?.lastname}}</h5>
    <p class="data" *ngIf="currentUser.email"> <i class="fa fa-envelope" aria-hidden="true" style="padding-right: 8px"></i> {{currentUser?.email}}
    </p>
    <p class="data" *ngIf="currentUser.telephone"> <i class="fa fa-phone" aria-hidden="true" style="padding-right: 8px"></i>
        {{currentUser?.telephone}} </p>
    <button class="btn btn-outline-danger mt-3" (click)="editProfile()">
        <i class="fa fa-pencil" aria-hidden="true" style="padding-right: 4px"></i>
        Edit Account </button>
</div>
<div class="container" *ngIf="isEditMode"> 
    <h4 class="heading">Edit Your Account Details</h4>
    <form name="form" #userForm="ngForm" style="margin: 32px 0px;"
        (ngSubmit)="userForm.form.valid && saveChanges(userForm.value); userForm.resetForm()" novalidate>
        <div class="address-popup">
            <div class="outerwrapper">
                <div class="col-md-6 no-padding">
                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="First Name" type="text" id="fname" name="firstname" required
                            [(ngModel)]="currentUser.firstname" #firstname="ngModel" />
                    </mat-form-field>
                </div>
                <div class="col-md-6 no-padding">
                    <mat-form-field class="col-md-12">
                        <input matInput class="col-md-12" placeholder="Last  Name" type="text" id="fname" name="lastname"
                            [(ngModel)]="currentUser.lastname" #lastname="ngModel" required />
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="col-md-12">
                <input matInput type="text" placeholder="Email Id" name="email" required [(ngModel)]="currentUser.email"
                    #addressname="ngModel" />
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <input matInput type="number" maxlength="10" placeholder="Mobile Number" name="telephone"
                    [(ngModel)]="currentUser.telephone" #address="ngModel" required/>
            </mat-form-field>
        </div>
        <div class="p-20 text-center">
            <button class="col-md-5 btn btn-outline-danger mr-1" type="button" (click)="goBack()">
                CANCEL
            </button>
            <button class="col-md-5 btn btn-danger ml-1" type="submit" [disabled]="userForm.invalid">
                UPDATE
            </button>
        </div>
    </form>
</div>