<div class="container" *ngIf="blogData">
    <div class="blog-wrapper">
        <h2 [innerHTML]="blogData?.title"></h2>
        <div class="row author-info">
            <img class="author-image" [src]="blogData?.AuthorImage" alt="AI">
            <small class="text-muted"> {{blogData?.AuthorName}}, {{blogData?.dateadded}} </small>
        </div>
        <div class="row image-row">
            <div class="col-12">
                <img class="blog-image" [src]="blogData?.image" alt="Blog Image">
            </div>
        </div>
        <p class="description" [innerHTML]="decodeContent(blogData?.additional_description)"></p>
    </div>
</div>
<div class="recent-wrapper">
    <h5 style="margin: 16px 0px; text-align: center;"> Recent Posts </h5>
    <div class="card-deck">
        <div class="card shadow p-3 mb-2 bg-white rounded" *ngFor="let blog of recentPostsList">
            <img class="card-img-top" [src]="blog?.image" alt="blog image">
            <div class="card-body">
                <h6 class="card-title" [innerHTML]="blog?.title"></h6>
                <p class="card-text" [innerHTML]="decodeContent(blog?.description) | domsafe: 'html'"></p>
            </div>
            <div class="footer-wrapper">
                <small class="text-muted" style="margin: 0px;"> {{blog.dateadded}} </small>
                <button class="btn btn-dark btn-sm"
                    [routerLink]="['/blog', catService.slug(blog.title), catService.slug(blog.ArticleId)]"> Read more
                </button>
            </div>
        </div>
    </div>
</div>