<h6 class="heading"> BLOG </h6>
<div class="container">
    <div class="card card-wrapper shadow p-1 mb-5 rounded" *ngIf="blogsList.length > 0">
        <div class="card-body wrapper-content">
            <div class="card-columns">
                <div class="card card-item" *ngFor="let blog of blogsList" [routerLink]="['/blog', catService.slug(blog.title), catService.slug(blog.ArticleId)]">
                    <img class="card-img-top" [src]="blog?.image" alt="blog image">
                    <div class="card-body">
                        <h5 class="card-title" [innerHTML]="decodeContent(blog?.title)"></h5>
                        <p class="card-text" [innerHTML]="decodeContent(blog?.description) | domsafe: 'html'"></p>
                    </div>
                    <div class="footer-wrapper">
                        <small class="text-muted"> {{blog.dateadded}} </small>
                        <button class="btn btn-dark btn-sm"
                            [routerLink]="['/blog', catService.slug(blog.title), catService.slug(blog.ArticleId)]"> Read
                            more </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card empty-card shadow p-1 mb-5 rounded" *ngIf="blogsList.length === 0">
        <div class="card-body">
            <h5> No Blogs Available </h5>
            <button class="btn btn-danger btn-sm" (click)="gotoHome()"> Go To Home </button>
        </div>
    </div>
</div>