/* .row {
    margin-top: 4em;
    margin-bottom: 2em;
} */
.heading {
    text-align: center;
    font-size: 28px;
    color: whitesmoke;
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 60px;
    background-color: #EF4040;
    font-family:  Opensans-bold;
}
.card-wrapper {
    margin-top: -40px !important;
    border: 0px solid whitesmoke;
}
.empty-card {
    margin-top: -40px !important;
    border: 0px solid whitesmoke;
    text-align: center;
}
.wrapper-content {
    padding: 2em;
}
.row {
    margin: 0px;
}
.card-item:hover {
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-item {
    max-height: 450px !important;
    min-height: 450px !important;
    overflow: hidden;
}
.card-img-top {
    width: 100%;
    height: 16vw;
    object-fit: none;
    transition: transform .5s ease;
}
.card-img-top:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.card-title {
    min-height: 46px !important;
    max-height: 46px !important;
    color: #Ed2f2f;
    overflow: hidden;
    font-family: Opensans-bold;
}
.card-text {
    font-size: 14px;
    max-height: 48px !important;
    min-height: 48px !important;
    overflow: hidden;
    font-family: Opensans-regular;
}
.btn-dark {
    float: right;
}
.footer-wrapper {
    padding: 8px 16px;
}