.button {
   margin: 20px auto;
    width: 470px !important;
}

.mainWrapper {
    margin-top: 40px;
}

.change-pass-header{
    margin: 20px 0;
}
.changepwd{
    text-align: center;
}
.changepwd form{
    width: 600px;
    display: inline-block;
}