
<div class="container" class="changepwd">   
    <form #changePass="ngForm"   (ngSubmit)="submitPassword(changePass.value); changePass.resetForm()">
        <div class="mainWrapper">
           
            <div *ngIf= "changePasswordFlag" class="alert alert-success">
                <strong>Success!</strong> Password Successfully Changed.
            </div>
            <!--<div>
                <label for="New password">New Password: </label> <input class="col-md-8" type="password" id="newpasword" placeholder="New Password" name="password" ngModel>
                <label for="New password">Confirm Password: </label> <input class="col-md-8" type="password" id="newpasword" placeholder="Confirm Password" name="confirm" ngModel>
            </div>-->

            <div class="change-pass-header">
                <h4>Change Password</h4>
            </div>

            <div class="new-pass">
                <mat-form-field class="col-md-10">
                    <input matInput placeholder="New Password" type="password" name="password" ngModel required>
                </mat-form-field>
            </div>

            <div class="conf-pass">
                <mat-form-field class="col-md-10">
                    <input matInput placeholder="Confirm Password" type="password" name="confirm" ngModel required>
                </mat-form-field>
            </div>

            <div class="button">
                <button class="btn btn-danger btn-block"  type="submit"><i class="fas fa-sign-in-alt"></i> SUBMIT </button>
            </div>

            <!--<div class="col-md-6 btn btn-danger btn-lg" style="text-align:center">  
                <input type="submit" />  
            </div>-->
        </div>
    </form>
</div>

