<ngx-spinner></ngx-spinner>
<div class="register-wrapper">
  <div #registerTemplate>
    <div class="modal-header">
      <h5 class="modal-title pull-left">New Customer ?</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #myforms="ngForm" (ngSubmit)="signup(myforms.value)" class="mx-auto" style="max-width: 700px" action="">
        <div class="loginInnerForm">
          <p class="link-signup">
            Already have an account ?
            <a (click)="openLoginModal()" class="red"> LOGIN NOW </a>
          </p>
          <div class="row">
            <!-- First Name -->
            <div class="form-container col-6">
              <mat-form-field>
                <input matInput placeholder="First Name" type="text" #firstname="ngModel" ngModel required
                  name="firstname" />
              </mat-form-field>
              <span class="help-bpx" *ngIf="firstname.touched && !firstname.valid">Enter your First Name</span>
            </div>
            <!-- Last Name -->
            <div class="form-container col-6">
              <mat-form-field>
                <input matInput required name="lastname" placeholder="Last Name" type="text" ngModel
                  #lastname="ngModel" />
              </mat-form-field>
              <span class="help-bpx" *ngIf="lastname.touched && !lastname.valid">Enter your Last Name</span>
            </div>
          </div>
          <div class="row">
            <div class="form-container col-6">
              <mat-form-field>
                <input matInput name="email" placeholder="Email Id" type="email" required ngModel #email="ngModel" />
              </mat-form-field>
              <span class="help-bpx" *ngIf="email.touched && !email.valid">Enter an Email Id</span>
            </div>

            <!-- Telephone Number -->
            <div class="form-container col-6">
              <mat-form-field>
                <input matInput name="telephone" placeholder="Mobile Number" type="number" maxlength="10" ngModel #telephone="ngModel"
                  required />
              </mat-form-field>
              <span class="help-bpx" *ngIf="telephone.touched && !telephone.valid">Enter Mobile
                Number</span>
            </div>

            <div class="col-12">
              <!-- Email -->
              <!-- Password -->
              <div class="form-container">
                <mat-form-field>
                  <input matInput name="password" required placeholder="Password" type="password" ngModel
                    #password="ngModel" minlength="4" />
                </mat-form-field>
                <span class="help-bpx" *ngIf="password.touched && !password.valid || password.errors?.minlength">Enter the Password (min 4 characters)
                </span>
              </div>

              <!-- Confirm Password -->
              <div class="form-container">
                <mat-form-field>
                  <input matInput name="confirm" required placeholder="Confirm Password" type="password" minlength="4"
                    #confirm="ngModel" ngModel />
                </mat-form-field>
                <span class="help-bpx" *ngIf="password.touched && !password.valid || confirm.errors?.minlength">
                  Enter
                  Password Once Again (min 4 characters) </span>
              </div>
            </div>
          </div>
          <div class="form-container" style="text-align: left;position: relative;">
            <mat-checkbox color="warn" type="checkbox" name="agree" ngModel #agree="ngModel" required>
              <span style="font-size: 10px;"> By Clicking here, you agree to the
                <a [routerLink]="['/terms-and-condition']" [queryParams]="{ id: termAndCondition?.id }">Terms and
                  condition
                </a></span>
            </mat-checkbox>
            <!-- <span class="help-bpx" *ngIf="agree.touched && !agree.valid">*Please Check this box if you want to proceed </span> -->
          </div>
          <alert type="danger" dismissible="true" *ngIf="isError" (onClosed)="closed()">{{ noEmailMatch }}</alert>
          <button class="btn btn-danger btn-block" [disabled]="myforms.invalid" type="submit">
            REGISTER NOW
          </button>
        </div>
      </form>
      <p style="text-align: center;"> or continue with </p>
      <div class="row no-margin w-100 social-login">
        <div class="col-5 no-padding">
          <button class="btn gmail" (click)="signInWithGoogle()">
            <i class="fa fa-google" style="margin-right: 5px;"></i>
            <span> LOGIN WITH GOOGLE </span>
          </button>
        </div>
        <div class="col-5 no-padding">
          <button class="btn facebook" (click)="signInWithFacebook()">
            <i class="fa fa-facebook" style="margin-right: 5px;" aria-hidden="true"></i>
            <span> LOGIN WITH FACEBOOK </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
