<div class="footer-padding">
  <div  *ngIf="wishlist?.length">
    <div>All of your favorites, in one place</div>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="4">

      <div  fxFlex="23" fxFlex.lt-sm="100" *ngFor="let wish of wishlist" class="product-card shadow-apply">
        <div class="">
          <div class="image-hover wishlist-image">
            <img src="{{wish.thumb}}" class="image-width">
            <div class="middle">
              <div class="text">
                <a class="icon-circle padding-rgt mouse-events" (click)="removeFromWishlist(wish.product_id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18.261" height="18.257" viewBox="0 0 16.261 16.257">
                    <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close" d="M21.343,19.417l5.808-5.808a1.361,1.361,0,1,0-1.925-1.925l-5.808,5.808L13.61,11.685a1.361,1.361,0,1,0-1.925,1.925l5.808,5.808-5.808,5.808A1.361,1.361,0,1,0,13.61,27.15l5.808-5.808,5.808,5.808a1.361,1.361,0,1,0,1.925-1.925Z" transform="translate(-11.285 -11.289)" fill="#998c88"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="thumb-content">
            <div class="project-name">
              <a class="project-name" href="/products/{{wish.product_id}}">{{wish.name}}</a>
            </div>
            <div class="apply-wholesale top-pad">
              {{wish.bundle_price}}
            </div>
          </div>

          <div class="checkout-row">
            <div class="checkout cart-button" (click)="openQuickView(wish.product_id)">
              Add to cart
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div *ngIf="!wishlist?.length && firstLoadCheck">
    <div>Sorry, there are no products in your wishlist.</div>
  </div>
</div>
