.tree-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*width: 149px !important;*/
    max-height: 500px !important;
}

a {
    text-decoration: none;
    color: black;
}

.cat-level:hover {
    color: #ed4040;
    font-weight: bold;
}

.level-2 {
    margin-bottom: 8px;
    font-size: 12px;
    flex: 0 0 auto;
    font-family: Opensans-semibold;
    color: #000000;
    letter-spacing: 0.04em;
    padding: 0 8px;
}

.level-2>strong>a {
    /*color: black;*/
    font-size: 15px;
    font-weight: bold;
}

.level-2:hover {
    font-size: 16px;
    font-weight: bold;
}

.element {
    display: inline;
}

.level-3 {
    margin-left: 1rem;
    margin-bottom: 8px;
    font-size: 12px;
    flex: 0 0 auto;
    font-family: Opensans-semibold;
}

.level-3:hover {
    font-size: 13px;
    font-weight: bold;
}

.tree-view-level-1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.tree-view-level-2 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.tree-view-level-3 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.level-4 {
    margin-left: 2rem;
    margin-bottom: 8px;
    font-size: 12px;
    flex: 0 0 auto;
    font-family: Opensans-regular;

}

.level-4:hover {
    font-size: 13px;
    font-weight: bold;
}