.container .row .col{
    display: inline-flex;
    padding: 0px;
}
.breadcrumb {
    background: white;
    padding: 0px;
    font-family: Opensans-Semibold;
    color: #979191;
    letter-spacing: 0.02em;
}
.title {
    margin-right: 8px;
}
.col2 {
    display: inline-flex;
    float: right;
}
.icons {
    text-align: right;
    margin: 16px 0px;
}
a {
    color: #C1BDBD;
    font-size: 14px;
}
.breadcrumb > li + li:before {
    color: #C1BDBD;
    content: "> ";
    padding: 0 5px;
}