
<div class="parent">
        <div class="details">
            <span class="exclusive">
              <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=info@kalanjiamhardwares.com&tf=1" target="_blank">
                   Shop Our LA Collective Exclusives!
            </a>
            </span>
        </div>
        <div class="login-right">
            <div class="login">
              <span>Login /</span>
              <span>Register</span>
              <span class="vertical-margin">|</span>
              <div class="cart-show">
                <i class="fa fa-search cart-view">
                </i>
                <span>Cart</span>
              </div>

            </div>
        </div>
    </div>
