.heading {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 60px;
    background-color: whitesmoke;
    font-family:  Opensans-bold;
}
.testimonial-wrapper {
    margin: -28px 90px 40px 90px;
    text-align: center;
}
.card-body {
    padding: 32px;
}
.author-wrapper {
    text-align: -webkit-center;
}