<div class="container wrapper">
    <img class="logo" src="../../assets/images/kalanjiam_logo3.png" alt="kalanjiam logo">
    <h5> Enjoy Shopping Of Hardwares Online in the Kalanjiam App </h5>
    <p class="buttons">
        <a target="_blank" href="https://apps.apple.com/us/app/kalanjiam-hardwares/id1495777356?ls=1"> 
            <img src="../../../assets/images/appStore.png" alt="" style="margin-right: 12px">
        </a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.kalanjiam.android&hl=en_IN">
            <img src="../../../assets/images/googlePlay.png">
        </a>
    </p>
</div>