a {
    text-decoration: none;
    color: gray;
}
a.router-link-active {
    color: #ED2F2F;
}
.cat2-title {
    color: #ED2F2F; 
    font-size: 14px; 
    margin-bottom: 16px;
}
.cat2-title > .fa-angle-down {
    font-size: 18px;
}
.fa-angle-right {
    padding-left: 8px !important; 
    font-size: 18px;
}

.btn {
    padding-right: 0px;
    color: #ED2F2F;
    text-decoration: none;
    font-size: 0.8rem;
}

:host >>> .panel {
    border: 0px;
    margin-top: 8px;
}
:host >>> .panel-heading {
    padding: 0px;
    background-color : white;
    border-bottom: 0px;
    font-size: 13px;
    margin-left: 16px;
}
:host >>> .panel-body {
    padding: 0px 16px;
}
:host >>> .panel-title > .accordion-toggle > .btn {
    font-size: 14px;
    color: black;
}
:host >>> .panel-title > .accordion-toggle > .btn:active {
    font-size: 14px;
    color: #ED2F2F;
}
p {
    margin-left: 16px;
    font-size: 0.7rem;
}
.active {
    color: #ED2F2F;
}
.cat-group {
    margin-left: 0px;
    font-size: 14px;
}
::ng-deep .cat-group >  .card-header {
    margin-left: 0px;
}
.static {
    color: black; 
    font-size: 16px; 
    text-decoration: 
    underline; margin-top: 16px;
}