<div class="success-container footer-padding common-color">

  <div class="total-margin-left flex-display">
    <div  class="image-width display">
      <svg xmlns="http://www.w3.org/2000/svg" width="101.954" height="91.954" viewBox="0 0 41.954 41.954">
        <g id="Icon_ionic-ios-checkmark-circle-outline" data-name="Icon ionic-ios-checkmark-circle-outline" transform="translate(-3.375 -3.375)">
          <path id="Path_114" data-name="Path 114" d="M32.037,14.153l-1.775-1.825a.382.382,0,0,0-.282-.121h0a.366.366,0,0,0-.282.121l-12.3,12.395-4.478-4.478a.39.39,0,0,0-.565,0l-1.8,1.8a.4.4,0,0,0,0,.575L16.2,28.262a1.786,1.786,0,0,0,1.18.575,1.872,1.872,0,0,0,1.17-.555h.01L32.047,14.728A.431.431,0,0,0,32.037,14.153Z" transform="translate(3.066 3.836)" fill="#46c857"/>
          <path id="Path_115" data-name="Path 115" d="M24.352,6.2a18.146,18.146,0,1,1-12.838,5.315A18.033,18.033,0,0,1,24.352,6.2m0-2.824A20.977,20.977,0,1,0,45.329,24.352,20.974,20.974,0,0,0,24.352,3.375Z" fill="#46c857"/>
        </g>
      </svg>

    </div>
    <div class="display contact">
      <div>
        <span class="order-size">Order #{{orderId}}</span>
      </div>
      <div>
        <span class="thank-msg">Thank you {{customerDetails.firstname}} {{customerDetails.lastname}}!</span>
      </div>
      <br>
    </div>
  </div>

  <div class="top-container payment-address">
    <div class="confirmation-msg">
      Your order is confirmed
    </div>
    <div class="view-order">
      You will receive confirmation email with your order number shortly
    </div>
    <a class="link-color" routerLink="/orders/{{orderId}}">View order</a>
  </div>


  <div class="payment-address">

    <div class="address-width w-100">
      <div class="contact-space">
        <div class="default-address bold-font">Contact Information</div>
        <div>{{orderDetails?.email}}</div>
      </div>
    </div>

    <div class="w-100 flex-display">
    <div class="w-50">
      <div>
        <div class="default-address bold-font">SHIPPING ADDRESS</div>
        <div class="transformText">{{orderDetails?.shipping_firstname}} {{orderDetails?.shipping_lastname}}</div>
        <div>{{orderDetails?.shipping_company}}</div>
        <div>{{orderDetails?.shipping_address_1}}</div>
        <div>{{orderDetails?.shipping_address_2}}</div>
        <div>{{orderDetails?.shipping_city}} {{orderDetails?.shipping_post_code}}</div>
        <div>{{orderDetails?.shipping_zone}}</div>
        <div>{{orderDetails?.shipping_country}}</div>
      </div>
    </div>

    <div class="w-50">
      <div>
        <div class="default-address bold-font">BILLING ADDRESS</div>
        <div class="transformText">{{orderDetails?.payment_firstname}} {{orderDetails?.payment_lastname}}</div>
        <div>{{orderDetails?.payment_company}}</div>
        <div>{{orderDetails?.payment_address_1}}</div>
        <div>{{orderDetails?.payment_address_2}}</div>
        <div>{{orderDetails?.payment_city}} {{orderDetails?.payment_post_code}}</div>
        <div>{{orderDetails?.payment_zone}}</div>
        <div>{{orderDetails?.payment_country}}</div>
      </div>
    </div>
    </div>

  </div>

  <div class="top-container">
    <span> Need help? </span>
    <a class="return display update-left link-color" [routerLink]="'/about/Contact-Us/1'">
     Contact us
    </a>
    <div class="checkout-align display right-align">
      <a class="checkout cart-button" [routerLink]="'/'">
        Continue to Shopping
      </a>
    </div>
  </div>

</div>

