@media only screen and (min-width: 1200px) {
    /* #couponcodeForm {
        width: 365px;
    } */
    #walletInput {
        width: 322px;
    }
} 
#couponCode {
    margin-bottom: 16px;
    text-align: center;
}
#couponcodeForm {
    width: 220px;
    border-radius: unset;
}
.btn-danger {
    padding: 6px 42px;
}
.btn-outline-danger {
    border-color: white;
}
::ng-deep .card-header {
    background-color: white;
    border-bottom: 0px;
}
::ng-deep .panel .card-body {
    padding-top: 0px;
}
.panel-heading-card-header .accordion-toggle[aria-expanded="true"]:before {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
}

.accordion-toggle[aria-expanded="false"]:before {
    content: '\f106';
    font: normal normal normal 14px/1 FontAwesome;
}

.stat-label, .stat-value{
    font-size: 14px;
    float: right;
    font-weight: 500;
}
.total-card {
    margin: 0px; 
    padding: 0px 16px;
}
.price-detail-wrapper{
    font-family: Opensans-semibold;
}