<div class="detail-padding">
  <div class="full-container">
    <div class="login-box-heading">
      <h1 class="head-font">Reset your password</h1>
    </div>
    <form novalidate [formGroup]="resetForm" class="login-box">

      <div class="botton-padding">
      <label class="label-name">Password</label>
      <mat-form-field appearance="outline" class="label-width w-100 mat-bottom-remove" [ngClass]="validationCheck['password'] ? 'errorClass' : ''">
        <input type="password" matInput formControlName="password" (keyup)="checkValidationForm('password')">
      </mat-form-field>

      <div *ngIf="validationCheck['password']" class="password-check">Please enter password (Password must be between 6 to 20 characters!) </div>
      </div>

      <div class="botton-padding">
      <label class="label-name">Confirm Password</label>
      <mat-form-field appearance="outline" class="label-width w-100 mat-bottom-remove" [ngClass]="validationCheck['confirmPassword'] || validationCheck['samePass'] ? 'errorClass' : ''">
        <input type="password" matInput formControlName="confirmPassword" (keyup)="checkValidationForm('confirmPassword')">
      </mat-form-field>

      <div *ngIf="validationCheck['confirmPassword']" class="password-check">Please enter confirm password </div>

      <span *ngIf="validationCheck['samePass']" class="password-check">Password and Confirm password should be same</span>
      </div>

      <div class="buttonrow top-align">
        <button type="submit" mat-flat-button class="login-submit cart-button" (click)="onSubmit()">
          Submit</button>

        <div class="display cancel-align">
          <span>or <span class="link-color mouse-events" [routerLink]="'/login'">Cancel</span></span>
        </div>
      </div>
      <div class="top-align">
        <span>Don't have an account? No problem!</span>
        <a class="row forgot-password margin-zero link-color no-left-margin" [routerLink]="'/signup'">Click here to register your details and sign up for an account.</a>
      </div>

    </form>

  </div>
</div>
